@use '../../assets/scss/mixin_variables.scss' as *;

.snackbar-alert-component {
  .MuiSvgIcon-root,
  .MuiAlert-message {
    color: $white;
  }
  .MuiAlert-message {
    font-size: 13px;
    text-align: left;
    font-weight: 300;
    line-height: 18px;
  }
  &.success {
    background-color: rgb(46, 125, 50);
  }
  &.error {
    background-color: rgb(211, 47, 47);
  }
}
