@use './assets/scss/fonts.scss';

html,
body {
  min-height: 100%;
}

// prettier-ignore
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol,
ul, li, button, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
  font-family: 'Baloo 2';
  font-weight: normal;
  font-style: normal;
}

// body {}

body {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(225, 225, 225, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(225, 225, 225, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(225, 225, 225, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(225, 225, 225, 0.4);
  }
}
